@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%);

    /* ### Neutral  */

    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%);
    --very-pale-orange: hsl(33, 100%, 98%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    background-color: var(--cream);
}

.container {
    max-width: 500px;
    min-width: 375px;
    height: 100svh;
    overflow-x: hidden;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

/* HEADER */

header {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 20px 25px;
    background-color: var(--soft-red);
    border-radius: 10px;
    color: var(--very-pale-orange);
}

header .balance-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

header .balance-cont p:first-child {
    font-size: 18px;
    color: var(--cream);
    padding-bottom: 5px;
}

header .balance-cont p:last-child {
    font-size: 24px;
    font-weight: 700;
}

header .logo-cont {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

/* MAIN */

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--very-pale-orange);
    margin-top: 20px;
    border-radius: 10px;
    padding: 20px 25px;
    color: var(--dark-brown);
}

main>* {
    padding: 10px 0;
}

main h2 {
    font-weight: 700;
    padding-bottom: 40px;
}


/* CHART */

main .chart {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    margin-top: 10px;
}

main .chart .chart-bars {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 200px;
}

main .chart .chart-bars .bar-cont {
    width: 100%;
    height: 100%;
    margin: 0 8px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;
}


main .chart .chart-bars .bar {
    height: 100%;
    width: 100%;
    cursor: pointer;
    /* margin: 0 8px; */
    /* border: 1px solid red; */
    border-radius: 5px;
    background-color: var(--soft-red);
}

main .chart .chart-bars .bar-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

main .chart .chart-bars .bar-price {
    background-color: var(--dark-brown);
    width: 146%;
    height: 38px;
    z-index: 1000;
    bottom: 100%;
    left: -23%;
    position: absolute;
    border-radius: 5px;
    color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
    opacity: 0;
    transition: all 0.3s ease-in;
}


main .chart .chart-bars .bar-cont:hover .bar-price {
    opacity: 1;
}

main .chart .chart-bars .bar {
    transition: all .3s ease-in-out;
}

main .chart .chart-bars .bar:hover {
    filter: brightness(1.2);
}



main .chart .chart-bars div:first-child {
    margin-left: 0;
}

main .chart .chart-bars div:last-child {
    margin-right: 0;
}

main .chart .week-days {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--medium-brown);
    padding: 10px 0;
    font-size: 16px;
    /* border: 1px solid red; */
}

main .chart .week-days>* {
    /* border: 1px solid red; */
    width: 40px;
    text-align: center;
}



/* CHART */

main .line {
    border-radius: 10px;
    padding: 0;
    margin: 10px 0;
    width: 100%;
    height: 1px;
    background-color: var(--cream);
}

main .down-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .down-cont .down-left {
    text-align: left;
}

main .down-cont .down-left p:first-child {
    color: var(--medium-brown);
    font-size: 16px;
    letter-spacing: 1px;
    padding: 5px 0;
}

main .down-cont .down-left p:last-child {
    font-weight: 700;
    font-size: 30px;
}

main .down-cont .down-rigth {
    text-align: right;
}

main .down-cont .down-rigth p:first-child {
    font-weight: 700;
}

main .down-cont .down-rigth p:last-child {
    color: var(--medium-brown);
}

@media screen and (max-width: 600px) {

    main .chart .chart-bars .bar-price {
        font-size: 10px;
    }
}